.wrapper{
  width: 100%;
  padding: calc(160/ 1920 * 100vw) 0 calc(60/ 1920 * 100vw);
  background: #121111;
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 1024px){
    padding: calc(160/ 768 * 100vw) 0 calc(80/ 768 * 100vw);
  }
  p{
    font-size: 1.4rem;
    line-height: 240%;
    letter-spacing: .06em;
    text-align: center;
    @media screen and (max-width: 1024px){
      font-size: 1.8rem;
    }
  }
}