.main{
  width: calc(800 / 1920) * 100vw;
  margin: 0 auto;
  padding-top: calc(80/ 1920 * 100vw);
  background: #121111;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 1024px){
    width: calc(688 / 768 * 100vw);
    padding-top: calc(80/ 768 * 100vw);
  }
}

.eyecatch {
  width: 100%;
  margin-bottom: calc(60/ 1920 * 100vw);
  background: #e5e5e5;
  position: relative;
  @media screen and (max-width: 1024px){
    margin-bottom: calc(60/ 768 * 100vw);
  }
  .eyecatch-inner{
    padding: calc(80 / 1920 * 100vw);
    aspect-ratio: 1/1;
    @media screen and (max-width: 1024px){
      padding: calc(60 / 768 * 100vw);
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: drop-shadow(calc(5 / 1920 * 100vw) calc(5 / 1920 * 100vw) calc(10 / 1920 * 100vw) rgba(#000, .15));
      will-change: filter;
      @media screen and (max-width: 1024px){
        filter: drop-shadow(calc(5 / 768 * 100vw) calc(5 / 768 * 100vw) calc(10 / 768 * 100vw) rgba(#000, .15));
      }
    }
  }
}

.title{
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 180%;
  letter-spacing: .1em;
  @media screen and (max-width: 1024px){
    font-size: 3.2rem;
  }
}

.item{
  margin-top: calc(40 / 1920) * 100vw;
  display: grid;
  align-items: start;
  grid-template-columns: calc(100 / 1920) * 100vw 1fr;
  @media screen and (max-width: 1024px){
    margin-top: calc(40 / 768) * 100vw;
    grid-template-columns: calc(120 / 768) * 100vw 1fr;
  }
  > p{
    margin-top: calc(4 / 1920) * 100vw;
    font-size: 1.2rem;
    line-height: 180%;
    letter-spacing: .1em;
    @media screen and (max-width: 1024px){
      margin-top: calc(4 / 768) * 100vw;
      font-size: 2.0rem;
    }
  }
  > div{
    p, span{
      font-size: 1.6rem;
      line-height: 180%;
      letter-spacing: .1em;
      display: inline;
      @media screen and (max-width: 1024px){
        font-size: 2.4rem;
      }
      &::after{
        content: " / ";
      }
      &:last-of-type{
        &::after{
          content: "";
        }
      }
    }
  }
  & + .item{
    margin-top: calc(10 / 1920 * 100vw);
    @media screen and (max-width: 1024px){
      margin-top: calc(10 / 768 * 100vw);
    }
  }
}
.content{
  margin-top: calc(80 / 1920) * 100vw;
  @media screen and (max-width: 1024px){
    margin-top: calc(80 / 768) * 100vw;
  }
  p{
    font-size: 1.6rem;
    line-height: 180%;
    letter-spacing: .1em;
    @media screen and (max-width: 1024px){
      font-size: 2.6rem;
    }
    & + p{
      margin-top: 1.5em;
    }
  }
  figure{
    margin: 2.5rem auto;
    @media screen and (max-width: 1024px){
      margin: 5rem auto;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.nav{
  margin-top: calc(80 / 1920) * 100vw;
  display: flex;
  justify-content: center;
  gap: calc(20 / 1920 * 100vw);
  @media screen and (max-width: 1024px){
    margin-top: calc(80 / 768) * 100vw;
    flex-direction: column;
    gap: calc(25 / 768 * 100vw);
  }
  .link{
    width: 50%;
    padding: calc(15 / 1920 * 100vw) 0 calc(16 / 1920 * 100vw);
    font-size: 1.6rem;
    letter-spacing: .1em;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: calc(1px / 0);
    @media screen and (max-width: 1024px){
      width: 100%;
      padding: calc(24 / 768 * 100vw) 0 calc(24 / 768 * 100vw);
      font-size: 2.4rem;
    }
    @media (any-hover: hover){
      transition: background-size .4s, opacity .3s;
      &:hover{
        opacity: .6;
        background-position: right bottom 0;
        background-size: 0% 1px;
        will-change: background-size;
      }
    }
    &.external{
      background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%20fill%3D%22none%22%20viewBox%3D%220%200%2010%2010%22%3E%20%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M9.38%209.124a.62.62%200%200%201-.62-.62V2.115L1.058%209.82a.62.62%200%201%201-.876-.876L7.886%201.24h-6.39a.62.62%200%201%201%200-1.239H9.38a.62.62%200%200%201%20.62.62v7.884a.62.62%200%200%201-.62.62Z%22%2F%3E%3C%2Fsvg%3E') right calc(15 / 1920 * 100vw) top 50% / 8px no-repeat;
      @media screen and (max-width: 1024px){
        background-position: right calc(30 / 768 * 100vw) top 50%;
        background-size: calc(15 / 768 * 100vw);
      }
    }
    &.internal{
      background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211%22%20height%3D%2211%22%20fill%3D%22none%22%20viewBox%3D%220%200%2011%2011%22%3E%20%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M5.354.208a.5.5%200%200%201%200%20.708L1.707%204.562H10.5a.5.5%200%200%201%200%201H1.707l3.647%203.646a.5.5%200%201%201-.708.707l-4.5-4.5a.5.5%200%200%201%200-.707l4.5-4.5a.5.5%200%200%201%20.708%200Z%22%2F%3E%3C%2Fsvg%3E') left calc(15 / 1920 * 100vw) top 50% / 10px no-repeat;
      @media screen and (max-width: 1024px){
        background-position: left calc(30 / 768 * 100vw) top 50%;
        background-size: calc(20 / 768 * 100vw);
      }
    }
  }
}